@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_content" style="color:#666666">
				<div class="right col-md-12 col-sm-12 col-xs-12">
					<form class="form-horizontal form-label-left">
						<div class="row">

							<label class="control-label col-md-1 col-sm-12 col-xs-12">用户信息</label>

							<div class="col-md-3 col-sm-12 col-xs-12 ">
								@*<label class="control-label">@Model.Item1.Customer.NAME</label>*@
								<select id="selectmonitor" asp-items="@ViewBag.Monitors" onchange="change1()" class="select2_single form-control col-md-1">
									<option>-全部-</option>
								</select>
							</div>


							<label class="control-label col-md-1 col-sm-12 col-xs-12">报警类型</label>

							<div class="col-md-1 col-sm-12 col-xs-12 ">
								<select id="selectalarmtype" asp-items="@ViewBag.AlarmTypeList" style="width:150px" class="select2_single form-control">
									<option>-全部-</option>
								</select>
							</div>

							<label class="control-label col-md-1 col-sm-12 col-xs-12">查询日期</label>

							<div class="col-md-2 col-sm-12 col-xs-12 ">

								<fieldset>
									<div class="control-group">
										<div class="controls">
											<div class="col-md-11 xdisplay_inputx form-group has-feedback">
												<input class="form-control has-feedback-left" id="single_cal4" aria-describedby="inputSuccess2Status4" type="text" placeholder="请选择查询时间">
												<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
												<span class="sr-only" id="inputSuccess2Status4">(success)</span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>



							<div class="col-md-1 col-sm-6 col-xs-12">
								<input type="button" value="查询分析" onclick="RefreshAlarmData()" class="btn btn-primary" style="width:150px" />
							</div>
						</div>

						<div class="form-group" style="border-top:1px solid #337AB7;margin-top:10px"></div>


						<div id="div-part1" class="row">

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">


		function RefreshAlarmData() {

			var bed = document.getElementById("selectmonitor").value;
			//var date = document.getElementById("reservation-time").value;
			//var customer = document.getElementById("selectcustomer").value;

			var date = document.getElementById("single_cal4").value;

			var typeid = document.getElementById("selectalarmtype").value;
			

			$.ajax({

				url: 'RefreshAlarmData',

				data: { id: bed, date: date,typeid: typeid },

				type: "POST",

				//dataType: "json",

				async: false,

				success: function (data) {

					//alert(data);

					$("#div-part1").html(data);

					console.log("刷新..");

					//var echartBar = document.getElementById('main');

					//console.log(echartBar);


				},

				error: function (XMLHttpRequest, textStatus, errorThrown) {

					alert("获取数据异常，请检查！");
				}
			});
		}


		window.onload = function () {

			RefreshAlarmData()

		}

						//倒计时执行
						//setTimeout("RefreshAnalytical();", 1000);

	</script>


</div>


