@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">

			<div class="x_content" style="color:#666666">

				@*<div class="center col-md-2 col-sm-12 col-xs-12" style="width: 130px;height:150px;text-align:center;">
						<img class="img-responsive" alt="" src="~/images/oldman.jpg">
					</div>*@

				<div class="right col-md-12 col-sm-12 col-xs-12">
					<form class="form-horizontal form-label-left"> 
						<div class="row">

							<label class="control-label col-md-1 col-sm-12 col-xs-12">用户信息</label>

							<div class="col-md-4 col-sm-12 col-xs-12 ">
 								<select id="selectcustomer" asp-items="@ViewBag.Monitors" onchange="change1()" class="select2_single form-control col-md-1">
									@*<option>-请选择用户数据-</option>*@
								</select>
							</div>

							<label class="control-label col-md-1 col-sm-12 col-xs-12">查询时间</label>

							<div class="col-md-2 col-sm-12 col-xs-12 ">

								<fieldset>
									<div class="control-group">
										<div class="controls">
											<div class="col-md-11 xdisplay_inputx form-group has-feedback"> 
												<input class="form-control has-feedback-left" id="single_cal4"  aria-describedby="inputSuccess2Status4" type="text" placeholder="请选择查询时间">
												<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
												<span class="sr-only" id="inputSuccess2Status4">(success)</span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>

							<div class="col-md-1 col-sm-6 col-xs-12">
								<input type="button" value="查询分析" onclick="RefreshAnalytical()" class="btn btn-primary" style="width:150px" />
							</div>
						</div>

						<div class="form-group" style="border-top:1px solid #337AB7;margin-top:10px"></div>

						<div id="div-part" class="row">

						</div>
					</form> 

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">


		function RefreshAnalytical() {

			var find = document.getElementById("selectcustomer").value;

			var date = document.getElementById("single_cal4").value;

			$.ajax({

				url: 'RefreshAnalytical',

				data: { id: find,date: date },

				type: "POST",

				//dataType: "json",

				async: false,

				success: function (data) {

					$("#div-part").html(data);

					console.log("刷新..");
				},

				error: function (XMLHttpRequest, textStatus, errorThrown) {

					alert("获取数据异常，请检查！");
				}
			});
		}


		window.onload = function () {

			RefreshAnalytical()

		}

		//倒计时执行
		//setTimeout("RefreshAnalytical();", 1000);

	</script>
</div>


