@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_content" style="color:#666666">
				<div class="right col-md-12 col-sm-12 col-xs-12">
					<form class="form-horizontal form-label-left">
						<div class="row">

							<label class="control-label col-md-1 col-sm-12 col-xs-12">案例信息</label>

							<div class="col-md-6 col-sm-12 col-xs-12 ">
								<select id="selectcase" asp-items="@ViewBag.Cases" onchange="change1()" class="select2_single form-control col-md-1">
									@*<option>-请选择用户数据-</option>*@
								</select>
							</div>

							<div class="col-md-1 col-sm-6 col-xs-12">
								<input type="button" value="查询电影" onclick="SearchCaseMovie()" class="btn btn-primary" style="width:100px" />
							</div>

							<div class="col-md-2 col-sm-6 col-xs-12">
								<input type="button" value="一键刷新" onclick="RefreshCaseMovie()" class="btn btn-primary" style="width:100px" />
							</div>
						</div>

						<div class="form-group" style="border-top:1px solid #337AB7;margin-top:10px"></div>

						<div id="div-part" class="row">

						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		function RefreshCaseMovie() {

			var find = document.getElementById("selectcase").value; 

			$.ajax({

				url: 'RefreshCaseMovie',

				data: { id: find},

				type: "POST",

				//dataType: "json",

				async: false,

				success: function (data) {

					$("#div-part").html(data);

					console.log("刷新..");
				},

				error: function (XMLHttpRequest, textStatus, errorThrown) {

					alert("获取数据异常，请检查！");
				}
			});
		}

		function SearchCaseMovie() {

			var find = document.getElementById("selectcase").value; 

			$.ajax({

				url: 'SearchCaseMovie',

				data: { id: find},

				type: "POST",

				//dataType: "json",

				async: false,

				success: function (data) {

					$("#div-part").html(data);

					console.log("刷新..");
				},

				error: function (XMLHttpRequest, textStatus, errorThrown) {

					alert("获取数据异常，请检查！");
				}
			});
		} 

		window.onload = function () {
			SearchCaseMovie()
		}




	</script>
</div>


