@model Tuple<Dms.Product.Base.Model.ehc_dv_user, string>

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					用户详情
				</h2>
				@*<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#">Settings 1</a>
							</li>
							<li>
								<a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>*@
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p>
					<a asp-action="Index" class="btn btn-link">返回列表</a>
				</p>
				<form asp-action="Index"  class="form-horizontal form-label-left">

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-group">
						<label asp-for="Item1.NAME" class="control-label col-md-3 col-sm-3 col-xs-12"></label>

						<div class="col-md-5 col-sm-5 col-xs-12">
							<input asp-for="Item1.NAME" class="form-control col-md-7 col-xs-12" readonly="readonly"/>
						</div> 

					</div>
					<div class="form-group">
						<label asp-for="Item1.PASSWORD" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
						<div class="col-md-5 col-sm-5 col-xs-12">
							<input  class="form-control col-md-7 col-xs-12" readonly="readonly" value="@Html.DisplayFor(l=>l.Item1.PASSWORD)"/>
						</div>
 					</div>


					<div class="form-group">
						<label asp-for="Item1.USERNAME" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
						<div class="col-md-5 col-sm-5 col-xs-12">
							<input asp-for="Item1.USERNAME" class="form-control col-md-7 col-xs-12"  readonly="readonly"/>
						</div>
					</div>


					<div class="form-group">
						<label asp-for="Item1.TEL" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
						<div class="col-md-5 col-sm-5 col-xs-12">
							<input asp-for="Item1.TEL" class="form-control col-md-7 col-xs-12"  readonly="readonly" />
						</div>
						<span asp-validation-for="Item1.TEL" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Item1.ROLEID" class="control-label col-md-3 col-sm-3 col-xs-12"></label>

						<div class="col-md-5 col-sm-5 col-xs-12">
							<input asp-for="Item2" class="form-control col-md-7 col-xs-12"  readonly="readonly"/>
						</div> 
					</div>

					<div class="form-group">

						<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>

						<div class="col-md-5 col-sm-5 col-xs-12">

							<input type="submit" value="  关闭  "  style="width:150px" class="btn btn-primary" />
						</div>

						<span class="text-danger"></span>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

