
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="~/images/tty.ico" type="image/ico" />

	<title>河边骨资源管理后台</title>

	<!-- Bootstrap -->
	<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

	<!-- bootstrap-progressbar -->
	<link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
	<!-- bootstrap-daterangepicker -->
	<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Switchery  2019-04-19-->
	<link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="~/build/css/custom.min.css" rel="stylesheet">

	<!-- Datatables -->
	<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						@*<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>数据监控平台</span></a>*@

						<a href="#" class="site_title"><img src="~/images/tty.ico" alt="..." class="fa" style="width:40px;height:40px;margin-right:10px;margin-left:5px"><small>健康养老监控平台</small></a>
						@*id="menu_toggle"*@
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<img src="~/images/user.png" alt="..." class="img-circle profile_img">
						</div>
						<div class="profile_info">
							<span>你好!</span>
							<h2>@ViewBag.UserMessage</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>管理菜单</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-home"></i> 网站概览 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Monitor" asp-action="Monitor"> 资源统计</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor">系统日志</a></li>
									</ul>
								</li> 
							</ul>
						</div>
						<div class="menu_section">
							<h3>媒体管理</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-home"></i> 视频管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Movie" asp-action="Index"> 视频管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 类别管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 标签管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 格式管理</a></li>
									</ul>
								</li>

								<li>
									<a><i class="fa fa-bar-chart-o"></i> 图片管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Monitor" asp-action="Monitor"> 图片管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 类别管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 标签管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 格式管理</a></li>
									</ul>
								</li>

								<li>
									<a><i class="fa fa-bar-chart-o"></i> 音频管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Monitor" asp-action="Monitor"> 音频管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 类别管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 标签管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 格式管理</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-bar-chart-o"></i> 小说管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Monitor" asp-action="Monitor"> 小说管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 类别管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 标签管理</a></li>
										<li><a asp-controller="Monitor" asp-action="Monitor"> 格式管理</a></li>
									</ul>
								</li>
							</ul>
						</div>

						@if (@User.Claims.SingleOrDefault(s => s.Type == System.Security.Claims.ClaimTypes.Role).Value == "53dcd423-1d1d-4116-84c3-33db144982b6")
						{

							<div class="menu_section">
								<h3>系统管理</h3>
								<ul class="nav side-menu">
									<li>
										<a><i class="fa fa-user"></i> 会员管理<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a asp-action="Index" asp-controller="Customer">会员管理</a></li>
										</ul>
									</li>
									<li>
										<a><i class="fa fa-desktop"></i> 系统配置<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a asp-action="Index" asp-controller="Monitor">基础配置</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">会员设置</a></li>
											<li><a asp-action="Index" asp-controller="User">管理账户</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">导航设置</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">地区分类</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">支付设置</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">来源设置</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">分类编辑</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">图库分类</a></li>
											<li><a asp-action="Index" asp-controller="Monitor">幻灯设置</a></li>
										</ul>
									</li>

								</ul>
							</div>
						}
					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" onclick="fullScreen()" title="全屏">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" onclick="hidetopnav()" title="隐藏/显示上标题">
							<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="退出登录" href="/Home/Login">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav id="nav_top">
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<img src="~/images/user.png" alt="">@ViewBag.UserMessage
									<span class=" fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									@*<li>
											<a href="javascript:;">关于我们</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="badge bg-red pull-right">50%</span>
												<span>系统设置</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">帮助 </a>
										</li>*@
									<li>
										<a href="/Home/Login">
											<i class="fa fa-sign-out pull-right"></i> 退出登录
										</a>
									</li>
								</ul>
							</li>

							@*<li role="presentation" class="dropdown">
									<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-envelope-o"></i>
										<span class="badge bg-green">6</span>
									</a>
									<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
										<li>
											<a>
												<span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
												<span>
													<span>John Smith</span>
													<span class="time">3 mins ago</span>
												</span>
												<span class="message">
													Film festivals used to be do-or-die moments for movie makers.They were where...
												</span>
											</a>
										</li>
										<li>
											<a>
												<span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
												<span>
													<span>John Smith</span>
													<span class="time">3 mins ago</span>
												</span>
												<span class="message">
													Film festivals used to be do-or-die moments for movie makers.They were where...
												</span>
											</a>
										</li>
										<li>
											<a>
												<span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
												<span>
													<span>John Smith</span>
													<span class="time">3 mins ago</span>
												</span>
												<span class="message">
													Film festivals used to be do-or-die moments for movie makers.They were where...
												</span>
											</a>
										</li>
										<li>
											<a>
												<span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
												<span>
													<span>John Smith</span>
													<span class="time">3 mins ago</span>
												</span>
												<span class="message">
													Film festivals used to be do-or-die moments for movie makers.They were where...
												</span>
											</a>
										</li>
										<li>
											<div class="text-center">
												<a>
													<strong>See All Alerts</strong>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</li>
									</ul>
								</li>*@
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->

			<div class="right_col" role="main">
				@*<partial name="_CookieConsentPartial" />*@
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<footer>
				<div class="pull-right">
					健康养老监控平台 By <a href="http://www.tuotuoyi.com/">四川长虹智慧健康科技有限公司</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>


	<!-- jQuery -->
	<script src="~/vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="~/vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="~/vendors/nprogress/nprogress.js"></script>
	<!-- Chart.js -->
	<script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
	<!-- gauge.js -->
	<script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="~/vendors/iCheck/icheck.min.js"></script>
	<!-- Skycons -->
	<script src="~/vendors/skycons/skycons.js"></script>
	<!-- Flot -->
	<script src="~/vendors/Flot/jquery.flot.js"></script>
	<script src="~/vendors/Flot/jquery.flot.pie.js"></script>
	<script src="~/vendors/Flot/jquery.flot.time.js"></script>
	<script src="~/vendors/Flot/jquery.flot.stack.js"></script>
	<script src="~/vendors/Flot/jquery.flot.resize.js"></script>
	<!-- Flot plugins -->
	<script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
	<script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
	<script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
	<!-- DateJS -->
	<script src="~/vendors/DateJS/build/date.js"></script>
	<!-- JQVMap -->
	<script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
	<script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
	<script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="~/vendors/moment/min/moment.min.js"></script>
	<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

	<!-- Switchery 2019-04-19-->
	<script src="~/vendors/switchery/dist/switchery.min.js"></script>

	<!-- Datatables -->
	<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>


	@*汉化表格*@
	<script src="~/js/tableLanguage.js" type="122659542edb59d3c1044fbd-text/javascript"></script>
	<!-- Custom Theme Scripts -->
	<script src="~/build/js/custom.min.js" type="122659542edb59d3c1044fbd-text/javascript"></script>

	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="122659542edb59d3c1044fbd-|49" defer=""></script>

	<script>

		function hidetopnav() {

			//var find = document.getElementById("nav_top");

			var isHidden = $("#nav_top").is(":hidden");//是否隐藏
			// 判断是否隐藏
			if (isHidden) {
				$("#nav_top").show();
			} else {
				$("#nav_top").hide();
			}
		}

		//全屏
		function fullScreen() {
			var el = document.documentElement;
			var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;
			if (typeof rfs != "undefined" && rfs) {
				rfs.call(el);
			};
			return;
		}
	</script>
</body>


</html>

